.vehiculos {
  display: flex;
  width: 100%
}
.contenedorVehiculos{
    background-image: url(https://vehicentro.com/images/vehiculos/fondoscolores.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.carImage{
  width: 100%;
}


.description{
  display: flex;
  background-color: #000;
  width: 50%;
  align-items: center;
    justify-content: space-around;
}

.buttons {
  display: flex;
}

.buttons button {
  border-radius: 50%; /* Hace que los botones sean redondos */
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}

/* Estilos para cada botón */
.buttons button.blanco {
  background-color: white;
}

.buttons button.bluesky {
  background-color: #083959;
}

.buttons button.conchevino {
  background-color: #730000;
  color: white;
}

.buttons button.gris {
  background-color: #898484;
  color: white;
}
