.boxSeries {
  background-color: #2d2d2d;
}

p {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.box {
  background-color: #181512;
}

.seriesFlex {
  display: flex;
  align-items: center;
  gap: 1;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 2rem;
}

.boxSeries .infoBox {
}
