img {
  display: block;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.letras {
  font-size: ".1rem";
}

.nuevocell {
  flex: 1;
  display: grid;
  background-image: url("../public/images/home/sinotrukPorductos.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 59vh;
  width: 100%;
  align-items: start;
  justify-content: start;
  padding-top: 150px;
}

.nuevocell a {
  color: black;
  font-size: 1.5rem;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 16px;
}

.nuevocell a:hover {
  color: red;
  text-decoration: double;
}

/* Estilos generales */
h3 {
  font-size: 1.5rem; /* Tamaño por defecto */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  h3 {
    font-size: 1rem; /* Tamaño más pequeño en móviles */
  }

  ul {
    font-size: 0.8rem; /* Tamaño más pequeño para los elementos de la lista */
  }

  .nuevocell {
    padding-top: 60px !important;
    height: 40vh !important;
  }

  .nuevocell a {
    color: black;
    font-size: 2rem;
  }
}
